:root {
    --color-primary: #fff;
    --color-secondary: #EDC634;
    --color-tertiary: rgb(77, 53, 4);
    --header-bg: rgba(77, 53, 4, .78);
    --main-pfont: 14px;
    --border-rad: 0 0 20px 20px;
}


* {
    box-sizing: border-box;
}

figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    color: var(--color-primary);
    font-size: 72px;
}

h3 {
    font-size: 36px;
    color: var(--color-secondary);
}

p>stong {
    font-size: 18px;
}

p {
    font-size: var(--main-pfont);
}

body {
    position: relative;
    margin: 0;
    font-family: Avenir Next, sans-serif;
    color: var(--color-primary);
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/img/main_cafe_bg.jpg'), linear-gradient(82deg, var(--color-secondary) 0%, var(--color-tertiary) 100%);
    background-blend-mode: multiply;
    background-size: 100vw 100vh;
    background-position: center;
    background-attachment: fixed;
    filter: blur(5px);
    transform: scale(1.2);
    z-index: -1;
}

.site-wrapper {
    position: fixed;
}

.header-wrapper {
    display: block;
    width: 100%;
    border-top: solid 20px var(--color-secondary);
}

header {
    width: 100%;
    background-color: var(--header-bg);
}

#header-slope {
    width: 100vw;
    fill: var(--header-bg);
    height: 120px;
}

.social-wrapper {
    display: block;
    float: right;
    margin: 0 20px;
    transform: translateY(-100px)
}

.social-wrapper img {
    width: 30px;
}

#branding {
    padding-top: 20px;
    padding-left: 20px;
}

#branding h1 {
    font-size: 36px;
    line-height: 2.2rem;
}

#tagline {
    display: block;
    font-size: 72px;
    max-width: 280px;
    line-height: 1em;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    transform: translateY(-100px);
}

.block-wrapper {
    max-width: 320px;
}

.content-block {
    display: block;
    margin: 20px 0;
}


/* navigation grid */

.nav-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    position: relative;
    transform: translateY(100vh);
}

.nav-grid-item {
    position: relative;
    height: 50vh;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0,0,0,0.7);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.nav-grid-item:hover {
    background-color: rgba(0,0,0,.9);
}

.nav-grid-item:hover .plus {
    display: block;
    line-height: .5em;
}

.grid-item-info {
    display: block;
    position: absolute;
    text-align: center;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
}

.grid-item-info h2{
    font-size: 48px;
}

.plus {
    display: none;
    font-size: 48px;
    color: var(--color-secondary);
}


#menu-nav {
    background-image: url('assets/img/menu_bg.jpg');
}

#shops-nav {
    background-image: url('assets/img/shops_bg.jpg');
}

#crew-nav {
    background-image: url('assets/img/team_bg.jpg');
}

#events-nav {
    background-image: url('assets/img/events_bg.jpg');
}



/* MODAL CSS STYLES */

.modal-wrapper {
    display: block;
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 40px 0;
    font-weight: normal;
    z-index: 1000;
}

.modal-wrapper h1,
.modal-wrapper h3 {
    color: black;
}

.modal-content {
    display: block;
    margin: auto;
    width: 60%;
    color: black;
    text-align: center;
    background: #D8D8D8;
    border-radius: var(--border-rad);
    overflow-y: scroll;
}

.close-button-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-bottom: 50px;
    background: var(--color-secondary);
}

.close-button {
    position: absolute;
    right: 20px;
    bottom: 22px;
    cursor: pointer;
}

.top-bar,
.btm-bar {
    height: 5px;
    width: 30px;
    background: black;
}

.top-bar {
    transform: rotate(45deg) translate(1px, 5px);
}


.btm-bar {
    transform: rotate(-45deg) translate(-2px, -2px);
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    width: 100%;
    margin-top: 100px;
}

figure {
    position: relative;
    margin-bottom: 40px;
    padding: 10px;
    background: var(--color-primary);
    border-top: solid 10px var(--color-secondary);
    border-radius: var(--border-rad);
}

figcaption {
    padding-top: 20px;
    width: 200px;
    margin: auto;
}

.prod-info {
    display: block;
    position: absolute;
    padding: 10px;
    width: 150px;
    height: 80px;
    top: 25%;
    right: 25%;
    transform: translate(-25%, -25%);
    background-color: var(--color-secondary);
}

.prod-info span {
    color: #4A4A4A;
    font-size: 24px;
    font-weight: bold;
}
