.nav-grid-item:hover {
    background-color: rgba(0,0,0,.9);
}

.nav-grid-item:hover .plus {
    display: block;
    line-height: .5em;
}


@keyframes scale {
    0% {
        transform: scale(.5);
    }

    50% {
        transform: scale(.8);
    }

    100% {
        transform: scale(.5);
    }

}